* {
    color: azure;
}

.button { 
    cursor: pointer; 
    border-radius: 8px;
    background: linear-gradient(to right, #15C335, #096A1A);
    border: none;
    padding: 1%;
    color: white;
    font-size: 1.5em; 
    white-space: nowrap;
    text-transform: none;
    word-wrap: normal;
    white-space: normal !important;
}

.card-title {
    color: black;
}